<?php

/**
 * Configuration of the MySQL database
 */
$db->type = 'mysql';
$db->host = '127.0.0.1';
$db->user = 'omkt';
$db->pass = 'ieGh8AVa';
$db->name = 'omkt';

/**
 * Definition of some constants for the URLs
 * The directories end with a "/".
 */
define('BASE_URL', '/');
define('STATIC_URL', '/static/');
define('FULL_URL', 'http://omk.local/'); // the root url of the application, ending by /

// Sender and sender's name of all outgoing emails: (PLEASE CHANGE THIS)
define('MAIL_FROM', 'test@openmediakit.org');
define('MAIL_FROMNAME', 'unconfigured openmediakit transcoder');

/* The default number of api call per minute allowed for each user: */
define('RATE_DEFAULT',100); 
/* The path where we store the downloaded files for adapters who need it ... */
define('STORAGE_PATH',ROOT.'/storage');
/* The (shared among encoders) TMP directory where we can write */
define('TMP_PATH',ROOT.'/tmp');
/* Which logger shall we use ? File ? Syslog ? */
define('LOGGER','syslog');
/* If logging to a file, put it here (must be writable by the web server Unix user) */
define('LOGGER_FILE','/var/log/omk/transcoder.log');

// How many days we keep the transcoded files after we made them?
define('MAX_KEEP_TRANSCODE_DAYS',3);
// How many days we keep the original video files after having no job to do with them?
define('MAX_KEEP_ORIGINAL_DAYS',7);

// How many CURL http sockets to launch in parallel for CRON daemon in the api
define('MAX_SOCKETS',100); // 100 is a good ballpark... we advise you to change it only if you know what you do. (like having the official public transcoder of wordpress.com ;) ) 

define('RANDOM_SALT','vook0Hea3Quou0fohX'); // CHANGE THIS TOO, any random string will be fine


/* ------------------------------------------------------------ */
/** Is it a PUBLIC transcoder? 
 * (as a result, ANYBODY WILL BE ALLOWED TO USE YOUR SERVER TO TRANSCODE VIDEOS !)
 * To do so, set PUBLIC_TRANSCODER to true, and fill your transcoder NAME and your EMAIL ADDRESS below. 
 * When all those 3 settings will be filled, and your cron.daily launched, your transcoder will start to 
 * become available to anybody. Your email will need to be confirmed by clicking a link that the open-mediakit.org
 * discovery service will sent to you.
 * 
 * If you want to ensure the best possible service, please subscribe to the discussion list
 * of public transcoders managers at transcoder-subscribe@open-mediakit.org 
 * and announce your transcoder name and capacity.
 */
define('PUBLIC_TRANSCODER',false);
define('TRANSCODER_NAME','');
define('TRANSCODER_ADMIN_EMAIL','');
